* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    height: 350px;
    width: 350px;
    background-color: rgb(142, 42, 192);
    border-radius: 15px;
    padding: 15px;
}

h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
    color: aquamarine;
}

label {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    color: cyan;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    outline: none;
    font-size: 18px;
}

button {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: brown;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 20px;
    color: white;

}

p:hover {
    cursor: pointer;
    text-decoration: underline;
}