* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 250px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 80vh;
    width: 500px;
    border-radius: 4px;
    margin-top: 100px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 550px;
}

.name {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(31, 31, 168);
    align-items: center;
    justify-content: center;
    display: flex;

}

.title {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(118, 118, 134);
    align-items: center;
    justify-content: center;
    display: flex;
}

.content {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black
}

.socialplatforms {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    gap: 40px;
}

.button {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: chartreuse;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
}

button {
    height: 100%;
    width: 100%;
    background-color: #0247ae;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 10px;

}

.photo {
    align-items: center;
    justify-content: center;
    display: flex;
}